@media(max-width:1280px) {
    .landing-page .hero-section .text-content h1 {
        width: 90%;
        margin: 30px 40px 20px 10px;
    }

    .landing-page .hero-section .text-content p {
        width: 80%;
        font-size: 1rem;
        margin: 10px 10px;
    }

    .landing-page .text-content .btn {
        margin: 10px 0 0 10px;
    }
}

@media(max-width:1180px) {
    .landing-page .hero-section .text-content h1 {
        font-size: 2rem;
        width: 80%;
        margin: 10px 30px 10px 10px;
    }

    .landing-page .hero-section .text-content p {
        width: 85%;
        font-size: 1rem;
        margin: 10px 10px;
        line-height: 18px;
    }
}

@media(max-width:884px) {
    .landing-page .hero-section .hero .hero-image {
        width: 500px;
        margin: 30px 10px;
    }

    .header {
        width: 80%;
        margin: auto;
    }

    .header .header-logo .logo {
        margin-top: 30px;
    }

    .landing-page .hero-section .hero {
        text-align: center;
    }

    .landing-page .hero-section .hero .hero-image {
        width: 580px;
        margin-top: 30px;
    }

    .landing-page .text-content {
        margin-top: 5px;
        padding: 10px;
    }

    .landing-page .hero-section .text-content h1 {
        width: 70%;
        text-align: center;
        margin: auto;
        padding: 5px;
    }

    .landing-page .hero-section {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .landing-page .hero-section .text-content p {
        width: 70%;
        text-align: center;
        font-size: 1.3rem;
        margin: auto;
        padding: 15px;
    }

    .landing-page .text-content .btn {
        margin: auto;
    }

}

@media(max-width:768px) {
    .header {
        width: 80%;
        margin: auto;
    }

    .header .header-logo .logo {
        margin-top: 30px;
    }

    .landing-page .hero-section .hero {
        text-align: center;
    }

    .landing-page .hero-section .hero .hero-image {
        width: 500px;
        margin-top: 30px;
    }

    .landing-page .text-content {
        margin-top: 5px;
        padding: 10px;
    }

    .landing-page .hero-section .text-content h1 {
        width: 90%;
        font-size: 1.6rem;
        margin: 20px 0 0 15px;
        padding: 5px;
    }

    .landing-page .hero-section {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .landing-page .hero-section .text-content p {
        width: 90%;
        font-size: 1rem;
        line-height: 18px;
        margin: 0 20px;
        padding: 15px;
    }

    .landing-page .text-content .btn {
        margin: 10px 0 0 0;
    }

    .footer .social .icon {
        display: flex;
        justify-content: space-evenly;
    }

    .footer .social .icon {
        margin-top: 35px;
    }
}

@media(max-width:428px) {
    body {
        background: url(../images/bg-mobile.svg) no-repeat;
        background-size: cover;
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .landing-page .hero-section .hero .hero-image {
        width: 330px;
        margin-top: 30px;
    }

    .footer {
        display: flex;
        justify-content: center;
    }

    .footer .social .icon {
        margin-left: 20px;
    }
}